body {
  margin : 0;
  padding: 0;
}

.presentation {
  margin: 1%;
  float: right;
  width: 70%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
.slide {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 15px;
}

#footer {
  font-size: 10pt;
  font-family: 'Raleway', sans-serif;
  margin-top: 40%;
}

#index {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 2px solid #B2B2B3;
  border-bottom: 2px solid #B2B2B3;
  list-style: none;
  padding-left: 0;
  font-family: 'Open Sans', sans-serif;
}

.layout {
  width : 19%;
  position: fixed;
  overflow: hidden;
}

a:link, a:visited {
  color: #414141;
  text-decoration: none;
}

#index li:hover {
  background-color: #BEBEBE;
}

#navaLinks {
  font-family: 'Nanum Gothic', sans-serif;
}

#fold {
  width: 10%;
  background-color: grey;
  height : 600px;
  float: right;
}

#fold img {
  padding: 0;
  border: 2px solids white;
  border-radius: 15px;
}

#side {
  float :left;
  width : 90%;
  height : 100%;
}
