body{
  margin: 0 auto;
  background-color: black;
  font-family:sans-serif;
  color: #DDD29C;
  text-align: center;
}

.wrap {
   position: relative;
   top: 10vh;
}

.wrap .hanzo {
	font-weight: 700;
	position: absolute;
	font-size : 120px;
	top : 0px;
  left:50% ;
  transform: translate(-50%, -50%);
}

.wrap .input {
  position: absolute;
  top: 43vh;
  left:50% ;
  transform: translate(-50%, -50%);
  border: 3px solid #DDD29C;
  padding: 3px;
}

.wrap .name {
	position: absolute;
	left : 50%;
	top : 36vh;
	transform: translate(-50%, -50%);
}

button {
	width : 180px;
	position: absolute;
	left : 50%;
	top : 47vh;
	transform: translate(-50%, -50%);
	border: 2px solid #DDD29C;
	background-color: black;
	color: #DDD29C;
}